* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 1em;
}
.top-nav {
  position: fixed;
}
.white-background {
  background-color: #ffffff;
}
.hide {
  display: none;
}
.show {
  display: block;
}
/* Hamburger menu icon */
.hamburger-icon {
  position: relative;
  width: 2.5%;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  transform: rotate(0deg);
  padding: 0 0.6em;
  z-index: 1;
}
.hamburger-icon span::before,
.hamburger-icon span::after {
  content: "";
}
.hamburger-icon span,
.hamburger-icon span::before,
.hamburger-icon span::after {
  display: block;
  position: absolute;
  padding: 0.1em;
  background: #d3531a;
  border-radius: 0.1em;
  opacity: 1;
  left: 0;
  right: 0;
  transition: 0.5s ease-in-out;
}
.hamburger-icon span::before {
  bottom: 0.4em;
}
.hamburger-icon span::after {
  top: 0.4em;
}
.open span {
  background-color: transparent;
}
.open span::before {
  top: 0;
  transform: rotate(45deg);
  background: #a1a1a1;
}
.open span::after {
  top: 0;
  transform: rotate(135deg);
  background: #a1a1a1;
}
.menu {
  list-style-type: none;
  display: flex;
  text-transform: lowercase;
}
.menu li {
  margin: 0 1rem;
}
.menu li a {
  color: #000000;
  text-decoration: none;
}
.fixed-position {
  position: fixed;
}
/* Attribution Styling */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}
