/* League Spartan font */
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap");
/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "League Spartan", sans-serif;
}
/* Top nav layout */
.top-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background: transparent;
  padding: 1em 2em;
  position: fixed;
  z-index: 2; /*For top nav to stay on top of overlay*/
  color: #ffffff;
  padding-top: 2em;
}
/* Hiding the hamburger icon */
.hamburger-icon {
  display: none;
}
/* Menu layout and styling */
.menu {
  list-style-type: none;
  display: flex;
  text-transform: lowercase;
  margin-left: 2.5em;
  font-weight: bold;
}
.menu li {
  margin: 0 1rem;
}
.menu li a {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: -0.02em;
}

/* Wrapper section */
/* Adding slide show hero images */
.hero-1 {
  content: url("images/desktop-image-hero-1.jpg");
}
.hero-2 {
  content: url("images/desktop-image-hero-2.jpg");
}
.hero-3 {
  content: url("images/desktop-image-hero-3.jpg");
}

/* Top banner layout*/
.top-banner {
  display: flex;
}

/* Top banner slide show layout */
.top-banner-slideshow {
  position: relative;
  margin-bottom: -0.25em;
}
/* Slide show buttons container layout and styling*/
.arrow-btns {
  background-color: #ffffff;
  font-size: 0; /*To remove space between its child buttons*/
  display: inline;
  position: absolute;
  width: max-content;
  bottom: 0.7%;
}
/* Slide show buttons styling */
.prev-btn,
.next-btn {
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  padding: 2em;
  border: none;
  outline: none;
}
.prev-btn {
  background-image: url("images/icon-angle-left.svg");
}
.next-btn {
  background-image: url("images/icon-angle-right.svg");
}
/* Attribution Styling */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}

/* Top banner content layout and styling */
.top-banner-content,
.about-content {
  padding: 0em 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.top-banner-content-heading {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}
.top-banner-content-writeup,
.about-content-writeup {
  color: #a1a1a1;
  line-height: 1.5;
}
/* Shop now button styling */
.shop-now-btn {
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  letter-spacing: 0.7em;
  text-transform: uppercase;
  background-color: transparent;
  font-size: 0.9em;
  font-weight: bold;
  margin-top: 2em;
}
.shop-now-btn > img {
  margin-left: 1.5em;
  width: 8%;
}
/* About section layout */
.about-section {
  display: flex;
}
.about-section :nth-child(n) {
  flex-grow: 1;
  flex-basis: 0;
}
/* About section styling*/
.about-section img {
  width: 100%;
}
.about-content {
  padding: 2em 4em;
}
.about-content-heading {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin-bottom: 0.5em;
}
@media only screen and (max-width: 375px) {
  /* Reducing top nav padding so that it won't be an issue in tiny screens */
  .top-nav {
    padding: 1em;
    justify-content: space-between;
  }
  /* Hamburger menu icon */
  .hamburger-icon {
    display: block;
    position: relative;
    width: 2.5%;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    transform: rotate(0deg);
    padding: 0 0.6em;
    color: #000000;
  }
  /* Hamburger icon components layout */
  .hamburger-icon span::before,
  .hamburger-icon span::after {
    content: "";
  }
  .hamburger-icon span,
  .hamburger-icon span::before,
  .hamburger-icon span::after {
    display: block;
    position: absolute;
    padding: 0.1em;
    background: #ffffff;
    border-radius: 0.1em;
    opacity: 1;
    left: 0;
    right: 0;
    transition: 0.5s ease-in-out;
  }
  .hamburger-icon span::before {
    bottom: 0.4em;
  }
  .hamburger-icon span::after {
    top: 0.4em;
  }

  /* Open class -> defines layout and styling of hamburger icon elements once the icon is clicked */
  .open span {
    background-color: transparent;
  }
  .open span::before {
    top: 0;
    transform: rotate(45deg);
    background: #a1a1a1;
  }
  .open span::after {
    top: 0;
    transform: rotate(135deg);
    background: #a1a1a1;
  }
  .menu {
    margin-left: 0;
  }
  .menu li a {
    color: #000000;
  }
  /* Generic classes to be added after corresponding events */
  .white-background {
    background-color: #ffffff;
  }

  .avoid-clicks {
    pointer-events: none;
  }
  .hide {
    display: none;
  }
  /* Overlay Styling */
  .overlay {
    position: fixed; /* Stay in place */
    background-color: #45454572;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide down the overlay */
    pointer-events: none;
  }

  /* Wrapper section */
  .top-banner {
    display: block;
  }
  .top-banner > img {
    width: 100%;
  }
  .top-banner-content,
  .about-content {
    padding: 3.5em 2.5em;
  }
  .top-banner-content-heading {
    font-size: 2em;
  }
  .hero-1 {
    content: url("images/mobile-image-hero-1.jpg");
  }
  .hero-2 {
    content: url("images/mobile-image-hero-2.jpg");
  }
  .hero-3 {
    content: url("images/mobile-image-hero-3.jpg");
  }
  /* Slide show buttons positioning */
  .arrow-btns {
    right: 0;
    bottom: 1%;
  }
  /* Shop now button styling */
  .shop-now-btn {
    font-size: 0.8em;
    letter-spacing: 0.65em;
  }
  /*Shop now button arrow image sizing*/
  .shop-now-btn > img {
    width: 15%;
  }
  /* About section layout */
  .about-section {
    display: block;
  }
  /* About content styling */
  .about-content-heading {
    font-size: 0.8em;
    margin-bottom: 1em;
  }
}
/* Generic hide class for slides */
/* Kept at bottom so that writeup slideshow functionality would be undisturbed */
/* Else, display: flex declared at start will be the one with higher specificity */
.hideSlide {
  display: none;
}
